<h3>Updates</h3>
<p><%= @update.update_SEI %></p>

<h3>Challenges</h3>
<p><%= @update.challenge %></p>

<h3>Support required</h3>
<p><%= @update.support_req %></p>

<h3>People impacted</h3>
<p><%= @update.impact %></p>

<h3>Number of employees</h3>
<p><%= @update.employed %></p>

<h3>Number of volunteers</h3>
<p><%= @update.volunteers %></p>

<h3>Raised funds</h3>
<p><%= @update.raised_funds %></p>