<!DOCTYPE html>
<html>
<head>
  <title>Codeforgood</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
							<% if company_signed_in? %>
								<%= current_company.email %>
								<% if current_company.admin? %>
									<!-- do smth -->
								<% end %>
								<%# link_to "My Account", companies_path(current_company.id) %></li>
								<%= link_to "Sign out", destroy_company_session_path, :method => :delete %></li>
								
							<% else %>
								<ul>
									<li><%= link_to "Login", new_company_session_path %></li> or 
									<li><%= link_to "Sign up", new_company_registration_path %></li>
								</ul>
							<% end %>


<%= yield %>

</body>
</html>
